.pop-up-body .date {
  display: inline-flex;
  margin-top: 15px; }
  .pop-up-body .date #category-createdDate {
    margin-right: 10px;
    margin-inline-start: -26px; }
  .pop-up-body .date label {
    width: 8rem; }
  .pop-up-body .date input {
    width: 115px; }

.pop-up-body .status-person {
  display: inline-flex;
  margin-top: 15px; }
  .pop-up-body .status-person #category-status {
    margin-right: 10px;
    margin-inline-start: -26px; }
  .pop-up-body .status-person label {
    width: 8rem; }
  .pop-up-body .status-person input {
    width: 115px; }
  .pop-up-body .status-person select {
    width: 115px; }
