.main-navbar {
  background: #FFFFFF;
  font-family: 'Be Vietnam Pro'; }
  .main-navbar .top-navbar {
    padding: 10px 50px; }
    .main-navbar .top-navbar .navbar-start img {
      width: 120px;
      height: 60px; }
    .main-navbar .top-navbar .navbar-middle .navbar #explore-container {
      border-radius: 1rem; }
      .main-navbar .top-navbar .navbar-middle .navbar #explore-container .explore-navbar {
        display: inline-flex; }
        .main-navbar .top-navbar .navbar-middle .navbar #explore-container .explore-navbar .explore-home-title {
          font-weight: 600;
          color: gray;
          font-size: 12px; }
        .main-navbar .top-navbar .navbar-middle .navbar #explore-container .explore-navbar .explore-shop-title {
          font-weight: 600;
          color: gray;
          font-size: 12px; }
      .main-navbar .top-navbar .navbar-middle .navbar #explore-container ul {
        list-style: none;
        margin-left: -2rem;
        margin-right: 3rem; }
        .main-navbar .top-navbar .navbar-middle .navbar #explore-container ul a {
          color: gray;
          font-size: 12px; }
      .main-navbar .top-navbar .navbar-middle .navbar #explore-container .explore-about-us-title {
        font-weight: 600;
        color: gray;
        font-size: 12px; }
    .main-navbar .top-navbar .navbar-middle .navbar .nav-link {
      padding: 8px 20px;
      color: gray;
      font-size: 14px;
      font-weight: 600; }
    .main-navbar .top-navbar .navbar-end .form-inline {
      display: inline-flex;
      margin-right: 1rem; }
      .main-navbar .top-navbar .navbar-end .form-inline input {
        font-size: 12px;
        width: 25rem; }
      .main-navbar .top-navbar .navbar-end .form-inline #icon-search {
        color: #FFFFFF;
        background-color: #dc7800;
        border-radius: 1rem;
        margin-left: -3rem;
        margin-top: 5px;
        margin-bottom: 5px; }
    .main-navbar .top-navbar .navbar-end .count-container {
      display: inline;
      position: absolute;
      margin-left: 45px;
      top: .5rem; }
      .main-navbar .top-navbar .navbar-end .count-container #circle-count {
        font-size: 16px;
        color: #dc7800; }
      .main-navbar .top-navbar .navbar-end .count-container #cart-count {
        font-size: 12px;
        color: #FFFFFF;
        margin-left: -11.5px; }
    .main-navbar .top-navbar .navbar-end .nav-item {
      padding-top: 6.5px; }
      .main-navbar .top-navbar .navbar-end .nav-item .nav-link {
        color: gray;
        font-size: 12px;
        font-weight: 500;
        text-align: center;
        padding: 0 1rem;
        cursor: pointer; }
        .main-navbar .top-navbar .navbar-end .nav-item .nav-link #nav-icon {
          font-size: 18px; }
        .main-navbar .top-navbar .navbar-end .nav-item .nav-link p {
          margin-bottom: 0; }
      .main-navbar .top-navbar .navbar-end .nav-item .user-nav a {
        color: gray;
        font-size: 12px; }
        .main-navbar .top-navbar .navbar-end .nav-item .user-nav a #account-icon {
          width: 18px;
          height: 18px; }
        .main-navbar .top-navbar .navbar-end .nav-item .user-nav a p {
          display: inline-block;
          padding-inline-start: .5rem; }

@media only screen and (max-width: 600px) {
  .main-navbar .top-navbar .nav-link {
    font-size: 10px;
    padding: 8px 10px; } }
