.pop-up-body {
    .date {
        display: inline-flex;
        margin-top: 15px;

        #category-createdDate {
            margin-right: 10px;
            margin-inline-start: -26px;
        }

        label {
            width: 8rem;
        }

        input {
            width: 115px;
        }
    }

    .status-person {
        display: inline-flex;
        margin-top: 15px;

        #category-status {
            margin-right: 10px;
            margin-inline-start: -26px;

        }

        label {
            width: 8rem;
        }

        input {
            width: 115px;
        }

        select {
            width: 115px
        }
    }
}