.info-container {
    h1 {
        color: #000000;
        font-size: 24px;
        text-align: center;
        text-transform: uppercase;
        font-weight: 600;
        margin-top: 2rem;
    }

    h2 {
        color: #000000;
        font-size: 20px;
        text-align: left;
        font-weight: 600;
        margin-top: 1rem;
    }

    h3 {
        color: #000000;
        font-size: 18px;
        text-align: left;
        font-weight: 600;
        margin-top: 1rem;
    }

    .main-list {
        list-style: decimal-leading-zero;
        color: #000000;
        padding-left: 1.65rem;
    }

    .sub-list {
        color: #000000;
    }

    p {
        font-size: 16px;
        color: #000000;
        text-align: justify;
    }

    .inkmelo {
        color: rgb(220, 120, 0);
        font-weight: 600;
    }

    .basic-info {
        font-weight: 600;
    }
}