.main-navbar {
    background: #FFFFFF;
    font-family: 'Be Vietnam Pro';

    .top-navbar {
        padding: 10px 50px;

        .navbar-start {
            img {
                width: 120px;
                height: 60px;
            }
        }

        .navbar-middle {
            .navbar {
                #explore-container {
                    border-radius: 1rem;

                    .explore-navbar {
                        display: inline-flex;

                        .explore-home-title {
                            font-weight: 600;
                            color: gray;
                            font-size: 12px;
                        }

                        .explore-shop-title {
                            font-weight: 600;
                            color: gray;
                            font-size: 12px;
                        }
                    }

                    ul {
                        list-style: none;
                        margin-left: -2rem;
                        margin-right: 3rem;

                        a {
                            color: gray;
                            font-size: 12px;
                        }
                    }

                    .explore-about-us-title {
                        font-weight: 600;
                        color: gray;
                        font-size: 12px;
                    }
                }

                .nav-link {
                    padding: 8px 20px;
                    color: gray;
                    font-size: 14px;
                    font-weight: 600;
                }
            }
        }

        .navbar-end {
            .form-inline {
                display: inline-flex;
                margin-right: 1rem;

                input {
                    font-size: 12px;
                    width: 25rem;
                }

                #icon-search {
                    color: #FFFFFF;
                    background-color: rgb(220, 120, 0);
                    border-radius: 1rem;
                    margin-left: -3rem;
                    margin-top: 5px;
                    margin-bottom: 5px;
                }
            }

            .count-container {
                display: inline;
                position: absolute;
                margin-left: 45px;
                top: .5rem;

                #circle-count {
                    font-size: 16px;
                    color: rgb(220, 120, 0);
                }

                #cart-count {
                    font-size: 12px;
                    color: #FFFFFF;
                    margin-left: -11.5px;
                }
            }

            .nav-item {
                padding-top: 6.5px;

                .nav-link {
                    color: gray;
                    font-size: 12px;
                    font-weight: 500;
                    text-align: center;
                    padding: 0 1rem;
                    cursor: pointer;

                    #nav-icon {
                        font-size: 18px;
                    }

                    p {
                        margin-bottom: 0;
                    }
                }

                .user-nav {
                    a {
                        color: gray;
                        font-size: 12px;

                        #account-icon {
                            width: 18px;
                            height: 18px;
                        }

                        p {
                            display: inline-block;
                            padding-inline-start: .5rem;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .main-navbar {
        .top-navbar {
            .nav-link {
                font-size: 10px;
                padding: 8px 10px;
            }
        }
    }
}